/* cascading stylesheet */
body {
    font-family: "Poppins", serif !important; 
    margin: 0;
    padding: 0;
    background: #000 !important;
}
.bg-gray{
    background-color: #272626;
}
.top-section{
    background-image: url("images/bg_profile.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: right center;
}
.bg-contraxt{
    /* background-color: #000000a8; */
    background-color: #202020b3;
    /* #202020b3 */
}

.section-heading > h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px !important;
    position: relative;
  }
  .section-heading > h2:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #c9c2c2;
  }
  .section-heading > h2:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #c9c2c2;
  }

.img-section{
    justify-content: center;
    align-items: center;
    display: flex
;

}
.single-about-img {
    position: relative;
    box-shadow: 0 5px 20px rgba(14, 25, 80, .30);
    text-align: center;
}
.single-about-img:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: rgba(31, 44, 108, .3);
}
.single-about-img img {
    max-width: 400px;
    /* height: 468px; */
}
.about-list-icon {
    display: flex
;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 400px;
    width: -webkit-fill-available;
    height: 90px;
    background: #00000085;
}
.about-list-icon ul {
    display: flex;
    padding: 0;
    margin: 0;
}
.about-list-icon ul li:first-child a {
    margin-left: 0px;
}
.about-list-icon ul li a {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    padding-right: 22px;
}
.about-list-icon ul li a i {
    margin-left: 6px;
}
.single-about-txt p{
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.main-timeline:before {
    content: "";
    width: 2px;
    height: 84%;
    background: #b2c1ce;
    position: absolute;
    top: 1.5%;
    left: 45.8%;
    z-index: -1;
}
.container{
    max-width: 1100px !important;
}
.timeline-content span>i, .experience-time span>i {
    color: #d92cf9;
    position: absolute;
    font-size: 10px;
    left: -18.4%;
    z-index: 1;
}
.timeline p{
    line-height: 30px;
    font-weight: 200;
    letter-spacing: 0.2px;
}
.main-timeline .timeline, .experience-time {
    position: relative;
}
.experience-time h5:after {
    border-bottom: 2px solid #fff;
    content: ""; 
    display: block;
    padding-top: 25px;
    width: 20%;
}
ul li {
    list-style: none;
}
@media (min-width: 992px) {
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px !important;
	position: relative;
	margin: 15px 0;
	height: 30px !important;
	width: 300px;
}
.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.progressText::before { /* add the new bullet point */
      display: inline-block;
      content: '';
      -webkit-border-radius: 0.375rem;
      border-radius: 0.375rem;
      height: 0.75rem;
      width: 0.75rem;
      margin-right: 0.8rem;
      background-color: #bdbdbd;
  }